<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed Bottom | CSS</title>

</head>

<body>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            position: relative;
            min-height: calc(100vh - 200px);
        }

        footer {
            position: absolute;
            bottom: -200px;
            height: 200px;
            width: 100%;
            background-color: #232425;
        }
    </style>
    <header>

    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>